@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 48%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
  position: relative;
}

header .img-container {
  height: 100%;
  width: 100vw;
  position: relative;
}

header .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.4) inset;
}

header .img-container .background-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: block;
}

header .img-container .mobile-background-image {
  width: 100%;
  height: auto;
  background: center cover no-repeat;
  display: none;
}
.nav-container {
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.8rem;
  width: 100%;
}

.nav-container .nav-bar {
  position: relative;
  left: 55px;
}

.nav-container .nav-bar.active .hamburger-icon {
  display: none;
}

.nav-container .nav-bar.active .close-hamburger {
  display: block;
}

.nav-container .nav-bar ul {
  list-style: none;
}

.nav-container .nav-bar ul li {
  display: inline-block;
  margin: 12px 13px;
}

.nav-container .nav-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.nav-container .nav-bar svg {
  display: none;
  position: relative;
  top: 0;
  right: 2rem;
  cursor: pointer;
  transition: display 0.3s ease-in;
}

.nav-container .nav-bar svg.show {
  display: block;
}

.nav-container .nav-bar svg.remove {
  display: none;
}

.mobile-nav-bar {
  display: none;
}

.nav-container .mobile-nav-bar.show {
  position: absolute;
  background: #fff;
  width: 600px;
  left: 50%;
  transform: translateX(-47%);
  top: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 150px 150px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: block;
  transition: display 0.3s ease-in-out;
}

.mobile-nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav-bar ul li {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav-bar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}

/* .mobile-nav-bar ul li a:hover {
  background: green;
} */

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.main-section .section-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 40px;
  width: 680px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main-section .project-details {
  margin-top: -90px;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details .mastercraft-logo {
  position: absolute;
  top: -28px;
}

.project-details .project-desc {
  color: var(--dark-grey);
  margin-top: 2px;
  font-size: 15px;
}

.project-details .project-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 25px;
}

.project-details .project-action .back-project-btn {
  border: none;
  padding: 20px 30px;
  background: var(--moderate-cyan);
  color: #fff;
  border-radius: 27px;
  cursor: pointer;
  font-weight: 600;
}

.project-details .project-action .back-project-btn:hover {
  background: var(--dark-cyan);
}

.project-details .project-action .back-project-btn:focus {
  outline: none;
}

.project-details .project-action .bookmark-project-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 180px;
  border-radius: 27px;
  border: none;
  cursor: pointer;
}

.project-details .project-action .bookmark-project-btn:focus {
  outline: none;
}

.bookmark-project-btn p {
  position: relative;
  right: 20px;
  font-weight: 900;
}

.bookmark-project-btn.active circle,
.bookmark-project-btn.active p {
  fill: var(--dark-cyan);
  color: var(--dark-cyan);
  font-weight: 800;
}

.backers-section {
  display: flex;
  flex-direction: column;
}

.backers-section .backers-details {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.backers-details .amount-backed {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}

.backers-h2 {
  margin: 0 0 10px;
}

.backers-p {
  margin: 0;
  color: var(--dark-grey);
}

.backers-details .no-of-backers {
  margin-right: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 5rem;
}

.backers-section .progress-bar {
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  height: 12px;
  border-radius: 10px;
}

.progress-bar .progress-bar-cyan {
  width: 83%;
  display: block;
  background-color: var(--moderate-cyan);
  height: 12px;
  border-radius: 10px;
}

.project-about .about-desc {
  color: var(--dark-grey);
  font-size: 15px;
  line-height: 1.8rem;
  margin-top: 2rem;
}

.project-about .pledge-project {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  margin-top: 2rem;
}

.pledge-project .pledge-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pledge-type p {
  color: var(--moderate-cyan);
  font-weight: 700;
}

.pledge-project .stand-type {
  line-height: 1.8rem;
  color: var(--dark-grey);
  font-size: 15px;
}

.pledge-project .quantity-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-left {
  margin: 30px 0 15px;
}

.quantity-left div {
  display: flex;
  align-items: center;
}
.quantity-left div h2 {
  margin: 0 10px 0 0;
  font-size: 2rem;
}

.quantity-left div small {
  color: var(--dark-grey);
}

.quantity-left .reward-btn {
  border: none;
  padding: 20px 30px;
  background: var(--moderate-cyan);
  color: #fff;
  border-radius: 27px;
  cursor: pointer;
  font-weight: 600;
}

.quantity-left .reward-btn:hover {
  background: var(--dark-cyan);
}

.quantity-left .reward-btn:focus {
  outline: none;
}

.pledge-project.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.pledge-project.disabled .reward-btn {
  background: rgba(0, 0, 0, 0.4);
}

.modal-container {
  display: none;
}

.modal-container.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 150;
}

.modal-container.show .pledge-modal {
  background: #fff;
  position: relative;
  top: 8.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 680px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 10px;
}

.pledge-modal > p {
  color: var(--dark-grey);
  margin-bottom: 30px;
}

.pledge-modal > svg {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.pledge-modal > svg:hover path {
  opacity: 1;
}

.pledge-modal .pledge-selection {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 25px;
}

.pledge-selection .selection-container {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selection-container .header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-container input[type="radio"] {
  height: 25px;
  width: 25px;
}

.header-container label {
  cursor: pointer;
}

.header-container label h4,
.header-container > h4 {
  margin-left: 20px;
}

.header-container label h4:hover {
  color: var(--moderate-cyan);
}

.header-container > h4 {
  font-weight: 500;
  color: var(--moderate-cyan);
}

.selection-container > h4 span {
  margin-left: 5px;
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 15px;
}

.pledge-selection > p {
  width: 500px;
  position: relative;
  left: 78px;
  top: -30px;
  font-size: 15px;
  line-height: 1.5rem;
  color: var(--dark-grey);
}

.pledge-selection .pledge-form {
  margin-top: -20px;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.pledge-selection.selected {
  border: 2px solid var(--moderate-cyan);
}

.pledge-selection.selected .pledge-form {
  display: flex;
}

.pledge-form p {
  color: var(--dark-grey);
}
.pledge-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pledge-form .pledge-form-container .pledge-inner-container {
  padding: 1rem 2.9rem;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pledge-form .pledge-form-container .pledge-inner-container:hover {
  border-color: var(--moderate-cyan);
  cursor: pointer;
}

.pledge-inner-container .fa-dollar-sign {
  color: var(--dark-grey);
}

.pledge-inner-container input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: none;
  width: 30px;
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.pledge-inner-container input[type="number"]::placeholder {
  color: var(--black);
}

.pledge-inner-container input[type="number"]::-webkit-outer-spin-button,
.pledge-inner-container input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pledge-form-container input[type="submit"] {
  padding: 1rem 2.5rem;
  background: var(--moderate-cyan);
  color: #fff;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.pledge-form-container input[type="submit"]:hover {
  background: var(--dark-cyan);
}

.pledge-modal section.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.thank-you-container {
  display: none;
}

.thank-you-container.show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inner-container h3 {
  position: relative;
  top: 20px;
}

.inner-container p {
  text-align: center;
  color: var(--dark-grey);
  line-height: 1.5rem;
  margin-bottom: 25px;
}

.inner-container input[type="submit"] {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.5rem;
  background: var(--moderate-cyan);
  color: #fff;
  cursor: pointer;
  outline: none;
}

.inner-container input[type="submit"]:hover {
  background: var(--dark-cyan);
}

@media (max-width: 780px) {
  header .img-container {
    width: 100%;
  }

  header .img-container .background-image {
    display: none;
  }

  header .img-container .mobile-background-image {
    display: block;
  }

  header .nav-container {
    padding: 0 3rem;
    top: 4.5rem;
    width: 95%;
  }

  header .nav-container .nav-bar ul {
    display: none;
  }

  header .nav-container .nav-bar .hamburger-icon {
    display: block;
  }

  .main-section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -200px;
  }

  .main-section .section-card {
    width: 600px;
  }

  .project-details .project-action {
    justify-content: space-around;
  }

  .project-details .project-action .back-project-btn {
    padding: 20px 120px;
  }

  .project-details .project-action .bookmark-project-btn {
    width: 57px;
  }

  .project-details .project-action .bookmark-project-btn p {
    display: none;
  }

  .backers-section .backers-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backers-details .amount-backed,
  .backers-details .no-of-backers,
  .backers-details .days-left {
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .backers-details .days-left {
    border: 0;
  }

  .pledge-project .pledge-type {
    flex-direction: column;
    align-items: flex-start;
  }

  .pledge-project .pledge-type p {
    margin-top: -7px;
  }

  .pledge-project .quantity-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .quantity-left > div {
    margin-bottom: 20px;
  }

  .modal-container.show {
    top: -380px;
  }

  .modal-container.show .pledge-modal {
    width: 600px;
  }

  .pledge-modal .pledge-selection > p {
    width: 450px;
    left: 30px;
    top: -35px;
  }

  .pledge-modal .pledge-selection .selection-container .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-container input[type="radio"] {
    position: absolute;
  }

  .header-container label h4,
  .header-container > h4 {
    margin-left: 50px;
    margin-top: 5px;
  }

  .item-2 .selection-container .header-container label h4,
  .item-3 .selection-container .header-container label h4,
  .item-4 .selection-container .header-container label h4 {
    margin-top: -5px;
  }

  .item-2 .selection-container .header-container > h4,
  .item-3 .selection-container .header-container > h4,
  .item-4 .selection-container .header-container > h4 {
    margin-top: -10px;
  }

  .pledge-modal .pledge-selection .selection-container > h4 {
    position: absolute;
    top: 150px;
    left: 28px;
  }

  .pledge-modal .pledge-selection .pledge-form {
    margin-top: 30px;
    flex-direction: column;
  }

  .thank-you-container.show {
    margin-top: -350px;
  }

  .thank-you-container.show .inner-container {
    position: relative;
    top: -30%;
  }

  @media (max-width: 780px) {
  header .img-container {
    width: 100%;
  }

  header .img-container .background-image {
    display: none;
  }

  header .img-container .mobile-background-image {
    display: block;
  }

  header .nav-container {
    padding: 0 3rem;
    top: 4.5rem;
    width: 95%;
  }

  header .nav-container .nav-bar ul {
    display: none;
  }

  header .nav-container .nav-bar .hamburger-icon {
    display: block;
  }

  .main-section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -200px;
  }

  .main-section .section-card {
    width: 600px;
  }

  .project-details .project-action {
    justify-content: space-around;
  }

  .project-details .project-action .back-project-btn {
    padding: 20px 120px;
  }

  .project-details .project-action .bookmark-project-btn {
    width: 57px;
  }

  .project-details .project-action .bookmark-project-btn p {
    display: none;
  }

  .backers-section .backers-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backers-details .amount-backed,
  .backers-details .no-of-backers,
  .backers-details .days-left {
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .backers-details .days-left {
    border: 0;
  }

  .pledge-project .pledge-type {
    flex-direction: column;
    align-items: flex-start;
  }

  .pledge-project .pledge-type p {
    margin-top: -7px;
  }

  .pledge-project .quantity-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .quantity-left > div {
    margin-bottom: 20px;
  }

  .modal-container.show {
    top: -380px;
  }

  .modal-container.show .pledge-modal {
    width: 600px;
  }

  .pledge-modal .pledge-selection > p {
    width: 450px;
    left: 30px;
    top: -35px;
  }

  .pledge-modal .pledge-selection .selection-container .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-container input[type="radio"] {
    position: absolute;
  }

  .header-container label h4,
  .header-container > h4 {
    margin-left: 50px;
    margin-top: 5px;
  }

  .item-2 .selection-container .header-container label h4,
  .item-3 .selection-container .header-container label h4,
  .item-4 .selection-container .header-container label h4 {
    margin-top: -5px;
  }

  .item-2 .selection-container .header-container > h4,
  .item-3 .selection-container .header-container > h4,
  .item-4 .selection-container .header-container > h4 {
    margin-top: -10px;
  }

  .pledge-modal .pledge-selection .selection-container > h4 {
    position: absolute;
    top: 150px;
    left: 28px;
  }

  .pledge-modal .pledge-selection .pledge-form {
    margin-top: 30px;
    flex-direction: column;
  }

  .thank-you-container.show {
    margin-top: -350px;
  }

  .thank-you-container.show .inner-container {
    position: relative;
    top: -30%;
  }
}

@media (max-width: 375px) {
  .nav-container .mobile-nav-bar.show {
    width: 320px;
    transform: translateX(-48%);
  }

  .mobile-nav-bar ul li {
    padding: 1rem;
  }

  .mobile-nav-bar ul li a{
    font-size: 1rem;
  }
  .main-section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }

  .main-section .section-card {
    width: 300px;
  }

  .project-details h2,
  .project-details p {
    text-align: center;
  }

  .project-details .project-action .back-project-btn {
    padding: 10px 40px;
    font-size: 12px;
    margin-right: 10px;
  }

  .project-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section .project-about .about-desc {
    margin-top: 0px;
  }

  .main-section .project-about .pledge-project {
    width: 280px;
  }

  .modal-container.show .pledge-modal {
    width: 320px;
  }

  .pledge-modal .pledge-selection > p {
    width: 180px;
  }

  .header-container label h4,
  .header-container > h4 {
    margin-top: 0;
  }

  .pledge-modal .pledge-selection .selection-container > h4 {
    top: 260px;
  }

  .pledge-modal .item-4 .selection-container > h4 {
    top: 280px;
  }

  .pledge-form .pledge-form-container .pledge-inner-container {
    padding: 1rem;
  }

  .pledge-form-container input[type="submit"] {
    padding:  1rem;
  }

  .thank-you-container.show .inner-container {
    width: 350px;
  }
}
