@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 48%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
}

header .img-container {
  height: 100%;
  width: 100vw;
  position: relative;
}

header .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.4) inset;
}

.background-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.nav-container {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.8rem;
  width: 100%;
}

.nav-container .nav-bar {
  position: relative;
  left: 45px;
}

.nav-container .nav-bar ul {
  list-style: none;
}

.nav-container .nav-bar ul li {
  display: inline-block;
  margin: 12px 15px;
}

.nav-container .nav-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.main-section .section-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 40px;
  width: 680px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main-section .project-details {
  margin-top: -90px;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details .mastercraft-logo {
  position: absolute;
  top: -28px;
}

.project-details .project-desc {
  color: var(--dark-grey);
  margin-top: 2px;
  font-size: 15px;
}

.project-details .project-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 25px;
}

.project-details .project-action .back-project-btn {
  border: none;
  padding: 20px 30px;
  background: var(--moderate-cyan);
  color: #fff;
  border-radius: 27px;
  cursor: pointer;
  font-weight: 600;
}

.project-details .project-action .bookmark-project-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 160px;
  border-radius: 27px;
  border: none;
  cursor: pointer;
}

.bookmark-project-btn img {
  fill: green;
}

.bookmark-project-btn p {
  position: relative;
  right: 20px;
  font-weight: 700;
}

.backers-section {
  display: flex;
  flex-direction: column;
}

.backers-section .backers-details {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.backers-details .amount-backed {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}

.backers-h2 {
  margin: 0 0 10px;
}

.backers-p {
  margin: 0;
  color: var(--dark-grey);
}

.backers-details .no-of-backers {
  margin-right: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 5rem;
}

.backers-section .progress-bar {
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  height: 12px;
  border-radius: 10px;
}

.progress-bar .progress-bar-cyan {
  width: 83%;
  display: block;
  background-color: var(--moderate-cyan);
  height: 12px;
  border-radius: 10px;
}

.project-about .about-desc {
  color: var(--dark-grey);
  font-size: 15px;
  line-height: 1.8rem;
  margin-top: 2rem;
}

.project-about .pledge-project {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  margin-top: 2rem;
}

.pledge-project .pledge-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pledge-type p {
  color: var(--moderate-cyan);
  font-weight: 700;
}

.pledge-project .stand-type {
  line-height: 1.8rem;
  color: var(--dark-grey);
  font-size: 15px;
}

.pledge-project .quantity-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-left {
  margin: 30px 0 15px;
}

.quantity-left div {
  display: flex;
  align-items: center;
}
.quantity-left div h2 {
  margin: 0 10px 0 0;
  font-size: 2rem;
}

.quantity-left div small {
  color: var(--dark-grey);
}

.quantity-left .reward-btn {
  border: none;
  padding: 20px 30px;
  background: var(--moderate-cyan);
  color: #fff;
  border-radius: 27px;
  cursor: pointer;
  font-weight: 600;
}
